<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flat.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= User.find_by(id: @flat.owner).name %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %> |
<%= link_to 'Leave Flat', leave_flat_path %>
