<h1>Listing bills</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Value</th>
      <th>User</th>
      <th>Market</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.value %></td>
        <td><%= User.where(id: bill.user_id).first.name %></td>
        <td><%= Market.where(id: bill.market_id).first.name if bill.market_id && Market.where(id: bill.market_id).first %></td>
        <td><%= link_to 'Show', bill, class: 'btn btn-success btn-xs' %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill), class: 'btn btn-warning btn-xs' if current_user.admin? %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'  if current_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @bills, renderer: BootstrapPagination::Rails %>
<br>

<%= link_to 'New Bill', new_bill_path , class: 'btn btn-default' %>
