<h1>Listing bills</h1>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>Value</th>
    <th>User</th>
    <th>Market</th>
    <th>Participants</th>
    <th>Note</th>
  </tr>
  </thead>

  <tbody>
  <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.value %></td>
        <td><%= User.where(id: bill.user_id).first.name %></td>
        <td><%= Market.where(id: bill.market_id).first.name if bill.market_id && Market.where(id: bill.market_id).first %>
        <td>
          <% InvolvedInBill.usernames_by_bill_id(bill.id).each do |names| %>
              <%= names %>
          <%end%>
        </td>
        <td><%= bill.note %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @bills, renderer: BootstrapPagination::Rails %>
<br>

<%= link_to 'New Bill', new_bill_path , class: 'btn btn-default' %>
