<p id="notice"><%= notice %></p>

<p>

  <strong>Value:</strong>
  <%= @bill.value %>
</p>

<p>
  <strong>Payed by:</strong>
  <%= User.where(id: @bill.user_id).first.name %>
</p>

<p>
  <strong>Market:</strong>
  <%= Market.where(id: @bill.market_id).first.name  %>
</p>
<%if @bill.note %>
    <p>
      <strong>Note:</strong>
      <%= @bill.note  %>
    </p>
<%end%>
<p>
  <strong>Participants:</strong>
  <% User.where(id: InvolvedInBill.where(bill_id: @bill.id).map {|user| user.user_id}).each do |user|  %>
      <%= user.name %>,
  <%end%>
</p>
<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
