<h1> InCompleted </h1> <br>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Task</th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <%= will_paginate @items_not_done, renderer: BootstrapPagination::Rails %>
  <tbody>
  <% if @items_not_done %>
      <% @items_not_done.each  do |todo|  %>
          <tr>
            <!--<%= check_box_tag "task_id[]", todo.id %>-->
            <td><%= todo.task %></td>
            <td> <%= link_to "Mark as complete", complete_todo_path(todo), :method => :put, class: 'btn btn-success btn-xs' %></td>
         </tr>
      <% end %>
  <% end %>
  </tbody>
</table>




<table class="table table-hover">
  <thead>
  <tr>
    <th>Task</th>
    <th colspan="1"></th>
  </tr>
  </thead>

<h1> Completed </h1>
  <tbody>
  <% if @items_done %>
      <% @items_done.each do |todo| %>
            <!--<%= check_box_tag "task_id[]", todo.id %>-->
          <tr>
            <td> <%= todo.task %></td>
            <td> <%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
            <td><%= link_to "Mark as incomplete", incomplete_todo_path(todo), :method => :put, class: 'btn btn-success btn-xs' %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<%= will_paginate @items_done, renderer: BootstrapPagination::Rails %>

<%= render 'form' %>




