<strong> InCompleted </strong> <br>
<ul>
  <% if @items_not_done %>
      <% @items_not_done.each  do |todo|  %>
          <li>
            <!--<%= check_box_tag "task_id[]", todo.id %>-->
            <%= todo.task %>
            <%= link_to "Mark as complete", complete_todo_path(todo), :method => :put %>
            <br>
          </li>
      <% end %>
  <% end %>
</ul>

<strong> Completed </strong> <br>
<ul>
  <% if @items_done %>
      <% @items_done.each do |todo| %>
          <li>
            <!--<%= check_box_tag "task_id[]", todo.id %>-->
            <%= todo.task %>
            <%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %> |
            <%= link_to "Mark as incomplete", incomplete_todo_path(todo), :method => :put %>
            <br>
          </li>
      <% end %>
  <% end %>
</ul>

<%= render 'form' %>




